
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: green;
}


.nav-link {
    color: white;
}

.nav-link:hover {
    color: green;
}


.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: green;
}
