{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container text-center about-text">
    <div class="row">
        <div class="col-12 mx-auto mt-3">
            <h1 class="text-center-mt-3 mb-4" style="color: green;">About Us</h1>
            <p style="color: green;">Lebaneats aims to share Lebanese food ideas with people who are familiar and not
                familiar with this popular Middle Eastern cuisine.</p>
        </div>
        <div class="col-10 mx-auto mt-3 mb-5">
            <h3 class="text-center mt-3 mb-4" style="color: green;">Lebanese Cuisine</h3>
            <p style="color: green;">Lebanese cuisine encompasses the rich culinary heritage and practices rooted in Lebanon. It embraces a
                wealth of whole grains, an array of fruits, an abundance of vegetables, as well as the freshness of fish
                and seafood. Poultry takes precedence over red meat, with lamb and goat being the favored choices when
                red meat is on the menu. The dishes are generously infused with garlic and olive oil, often brightened
                with a dash of lemon juice. Essential components of the Lebanese diet also include chickpeas and
                parsley.</p>

            <p style="color: green;">Among the renowned dishes, you'll find delightful creations such as baba ghanouj, tabbouleh, sfeeha,
                falafel, and shawarma. Hummus, a velvety chickpea puree, plays a vital role in many Lebanese meals,
                often accompanied by flatbread. When it comes to desserts, delectable treats like baklawa, sfouf, and
                ka'ak are cherished. Certain desserts are meticulously prepared for special occasions; for instance,
                meghli, a rice pudding delicacy infused with anise, caraway, and cinnamon, is served to celebrate the
                arrival of a newborn in the family.</p>

            <p style="color: green;">Arak, an anise-flavored liquor, proudly stands as the national drink of Lebanon, traditionally savored
                during convivial Lebanese feasts. Lebanese wine, with its deep-rooted historical significance, remains
                another treasured beverage choice.</p>
        </div>
    </div>
</div>
{% endblock %}