{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lebaneats is a Lebanese food blog">
    <meta name="keywords"
        content="lebanon, lebanese, food, desserts, drinks, middle east, mediterranean, arabic">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/d3e78680b9.js" crossorigin="anonymous"></script>
    <title>Lebaneats</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: red;">
        <a class="navbar-brand text-white" href="{% url 'home' %}">Lebaneats</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'about' %}">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#">Blog</a>
            </li>
            <li class="nav-item dropdown" style="background-color: red;">
              <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Members
              </a>
              <div class="dropdown-menu text-white" aria-labelledby="navbarDropdown" style="background-color: red;">
                {% if user.is_authenticated %}
                <a class="dropdown-item text-white" href="{% url 'account_logout' %}" style="background-color: red;">Logout</a>
                {% else %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-white" href="{% url 'account_signup' %}" style="background-color: red;">Login</a>
                <a class="dropdown-item text-white" href="{% url 'account_login' %}" style="background-color: red;">Register</a>
              </div>
                {% endif %}
            </li>
          </ul>
        </div>
      </nav>
      <main>
        {% block content %}
        <!--Content goes here-->
        {% endblock content %}
      </main>
      <!-- Footer -->
    <footer class="footer mt-auto py-3" style="background-color: red;">
      <p class="m-0 text-center text-white">Copyright &copy;2022 Lebaneats</p>
      <p class="m-0 text-center text-white">Follow us: <i class="fab fa-facebook-square ms-3"></i>
          <i class="fab fa-twitter-square ms-3"></i>
          <i class="fab fa-instagram-square ms-3"></i>
          <i class="fab fa-youtube-square ms-3"></i></p>
  </footer>
</body>
</html>