{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-md-8 mx-auto">
    <div class="row">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'media/site_img/shawarma.jpg' %}" class="d-block w-100 rounded"
                        alt="A plate of shawarma with side of vegetables">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'media/site_img/falafel.jpg' %}" class="d-block w-100 rounded"
                        alt="A plate with two falafel wraps">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'media/site_img/hummus.jpg' %}" class="d-block w-100 rounded"
                        alt="A plate of hummus">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'media/site_img/vine_leaves.jpg' %}" class="d-block w-100 rounded"
                        alt="A plate of lebanese vine leaves">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}